/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Mobile\ Background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}


.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 1200px;
    height: 70vh;
    background-color: white; /* Adjust to match your design */
    border-radius: 150px;
    border: 2px solid #83895d; /* Add border with 5px width and your desired color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px; /* Add padding to prevent content from touching the border */
    overflow: hidden;
}



/* Gambar bunga */
.flower {
    position: absolute;
    width: 230px; /* Adjust based on the size you need */
    height: auto;
}

/* Posisi bunga Depan*/
.top-right {
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 50px;
}

.bottom-left {
    bottom: 1;
    left: 0;
    z-index: 2;
    margin-top: 470px;
}

/* Posisi bunga Depan*/
.back-right {
    top: 1;
    right: 0;
    z-index: -1;
    margin-bottom: 400px;
}

.back-left {
    bottom: 1;
    left: 0;
    z-index: -1;
    margin-top: 400px;
}

/* .....NAVIGATION........... */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Jarak antar ikon */
    justify-content: center;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px; /* Ukuran ikon */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #C0C5D2; /* Warna teks saat hover */
  }


/* Konten di dalam bingkai */
.content {
    text-align: center;
    color: black;
}

.wedding-of {
    margin-bottom: 10px;
}

.yth {
    margin-top: 10px;
}

h1, h2 {
    font-size: 3em;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1em;
}

.wedding-of {
    margin-bottom: 10px;
}

.yth {
    margin-top: 10px;
}

#guest-name {
    font-size: 1.2em;
    margin-top: 10px;
}

.and {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #569168;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    z-index: 3;
}

button:hover {
    background-color: #f0f0f0;
}

.content-section {
    display: none; /* Keep hidden initially */
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

